/*brewery sidebar styling*/
#brewSidebar {
	position: relative;
	background-color: #fbb03b;
	background: url("../img/BrewVenturesLogos1.png");
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	overflow: auto;
	height: 300px;
	border-color: black;
	border: 20px;
	border-radius: 5%;
	margin-bottom: 20px;
}
.brewDiv {
	padding-top:20px;

}
.faviconHop {
	height:20px;
}
.brewName {
	display:inline;
	padding: 5px;
}
.addBtn {
	height:32px;
	margin-top:2px;
	margin-bottom:2px;
}
.brewBtn { 
	text-align: center;
	background-color: #FFFFFF;
	width:100%;
	margin-bottom: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.brewExpand {
	width: 100%;
	margin:1px;
}
.brewLogo {
	padding:10px;
	width:225px;
	height:225px;
}
.brewInfoDiv {
	margin:1px;
}


.map-canvas {
	height:500px;
	width: 100%;
}

#custom1 {
	margin-top:80px;
	margin-bottom:100px;
}
/*brewery sidebar styling end*/

/*brewery sidebar styling*/
.tourSidebar {
	position: relative;
	background-color: #fbb03b;
	overflow: auto;
	height: 300px;
	border-color: black;
	border: 20px;
	border-radius: 5%;
	margin-bottom: 20px;
}
.tourBtn {
	text-align: center;
	width:auto;
}
/*Accordian*/
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/*accordian end*/

@media  screen and (max-width: 400px) {

}

@media  screen and (max-width: 640px) {

}

@media  screen and (max-width: 768px) {

}

@media  screen and (max-width: 987px) {

}

@media  screen and (max-width: 1024px) {


}
