body {
	background-color: black;
}

/*brewery sidebar styling*/
#brewerySidebar {
	position: relative;
	background-color: white;
	overflow: auto;
	height: 300px;
	width: 35%;
	border-color: black;
	border: 20px;
	border-radius: 3px;
}
.brewDiv{
	padding-top:20px;
}
.faviconHop{
	width:20px; height:25px
}
.brewName{
	display:inline;
}
.brewExpand {
/*	display: none; 
*/	width: 100%;
}
.brewLogo {
	width:225px;
	height:225px;
}
.brewInfo {

}
/*brewery sidebar styling end*/

