/*
* Type styles
* ================ */
#{headings()} {
  vertical-align: baseline;
  display: block;
  color: $gray-dark;
  font-weight: 400;
  font-family: $secondary-font-family;

  a:focus, a:hover {
    color: $brand-primary;
    text-decoration: none;
  }
}

html body h1, .h1 {
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  @media (min-width: $screen-xs-min) { font-size: 35px; }
  @media (min-width: $screen-sm-min) { font-size: 70px; }
}

h2, .h2 {
  font-size: 28px;
  line-height: 1.4;
  text-transform: uppercase;
  @media (min-width: $screen-sm-min) { font-size: 40px; }
}

h3, .h3 {
  font-size: 25px;
  line-height: 1.4;
  text-transform: uppercase;
  @media (min-width: $screen-sm-min) { font-size: 30px; }
}

h4, .h4 {
  font-size: 20px;
  line-height: 1.4;
  @media (min-width: $screen-sm-min) { font-size: 24px; }
}

h5, .h5 {
  font-size: 18px;
  line-height: 30px;
  @media (min-width: $screen-sm-min) { font-size: 20px; }
}

h6, .h6 {
  font-size: 18px;
  line-height: 1.2;
}



